<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/casadocodigo.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="conteudoPrincipal">
      <div class="container">
        <h1>Casa do Código - Home</h1>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
