<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/casadocodigo.css" />
</head>
<body>
    <%- include("../partials/header") %> 
    <main class="conteudoPrincipal">
        <div class="container">
            <h1>Internal Server Error</h1>
            <p>Erro interno no servidor!</p>
            <a href="/">Voltar</a>
        </div>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>