<header class="cabecalhoPrincipal">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4">
        <h1 class="logo">
          <img
            src="/static/imagens/logo-casadocodigo.svg"
            alt="Casa do Código"
          />
        </h1>
      </div>
      <div class="cabecalhoPrincipal-navegacao col-8">
        <a href="#" class="login"> <i class="fas fa-sign-in-alt"></i>Login </a>
      </div>
    </div>
  </div>
</header>
